<h1 class="text-2xl font-bold">504</h1>
<h2 class="text-lg">Looks like the server in the back fell asleep</h2>

<div class="mt-3 mx-auto p-5 w-[360px] max-w-screen bg-neutral text-neutral-content rounded">
    <code class="capitalize">{{ .Message }}</code>
</div>