<h1 class="text-2xl font-bold">429</h1>
<h2 class="text-lg">Stop it, you just to fast!</h2>

<div class="mt-3 mx-auto p-5 w-[360px] max-w-screen bg-neutral text-neutral-content rounded">
    <code class="capitalize">{{ .Message }}</code>
</div>